<%= form_for User.create do |u|%>
<p>
  <%= u.text_field :email, placeholder: 'email' %>
</p>
<p>
  <%= u.password_field :password, placeholder: 'password' %>
</p>
<p>
  <%= u.password_field :password_confirmation, placeholder: 'confirm password' %>
</p>
<p>
<%= u.submit %>
</p>

<%end%>