<div class="addLookmark">
	<h1><%= current_user.email %></h1>
	<%= render "images/form" %>
</div>

<% @admin_images.each do |l| %>
	<div class="userBin">
	<%= image_tag l.url %>
	<div class="userBinLookDelete">
	<%= button_to "X", image_path(l),
          method: :delete %></div>
	</div>
<% end %>

<% @images.each do |l| %>
  	<div class="userBin">
	<%= image_tag l.url %>
	<div class="userBinLookDelete"><%= button_to "X", image_path(l),
	          method: :delete %></div>
	</div>
<% end %>