<!DOCTYPE html>
<html>
<head>
  <title>Catchframe</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<nav class="navbar navbar-default" role="navigation">   
	    <a class="navbar-brand" href="/">Catchframe</a>
		<div class="login"><%= render "authentications/form" %></div>

	</nav>

<%= yield %>

</body>
</html>
